<div class="p-4">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <h3>Cardápio</h3>
      <span>Gerencie todos os produtos da loja.</span>
    </div>

    <app-button label="Novo Produto" iconName="plus" (click)="openModal()"></app-button>
  </div>

  <div class="mt-3">
    <div class="d-flex flex-row gap-3 align-items-center">
      <p-iconfield class="search-iconfield">
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText placeholder="Pesquisar produtos" class="search-input" (input)="onSearchProducts($event)" />
      </p-iconfield>

      <div class="d-flex flex-row gap-3 flex-wrap">
        <button type="button" class="btn" [class.btn-primary]="selectedCategoryId === null" [class.btn-filter]="selectedCategoryId !== null" (click)="filterByCategory(null)">
          Todos
        </button>

        <button
          type="button"
          class="btn"
          *ngFor="let category of categoriesList"
          [class.btn-primary]="selectedCategoryId === category.id"
          [class.btn-filter]="selectedCategoryId !== category.id"
          (click)="filterByCategory(category.id)"
        >
          {{ category.name }}
        </button>
      </div>
    </div>

    <div class="mt-3 d-flex flex-row gap-3">
      <div class="card col-lg-4 col-md-4 col-sm-12 col-xs-12 p-3 mb-3" *ngFor="let product of filteredProducts" style="min-width: 300px;">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <img src="{{ product.imageUrl }}" alt="Produto" class="img-area" />

          <p-toggle-switch class="ml-auto" [(ngModel)]="product.isAvailable" (ngModelChange)="onChangeStatus(product)" ></p-toggle-switch>
        </div>

        <div class="mt-2">
          <span>{{ product.name }}</span>
          <p>{{ product.description }}</p>
        </div>

        <div class="mt-2 d-flex flex-row justify-content-between align-items-center">
          <div class="mt-2 d-flex flex-column">
            <span>Valor</span>
            <p class="span-price">{{ product.price | currency: 'BRL' }}</p>
          </div>

          <button class="btn btn-without-border" (click)="editProduct(product)">
            <i class="pi pi-pencil"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [header]="isEditMode ? 'Editar Produto' : 'Novo Produto'" [modal]="true" [(visible)]="modalOpen" [style]="{ width: '25rem' }">
  <form [formGroup]="formGroup">
    <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
      <p-floatlabel variant="on" class="mt-2">
        <input pInputText type="text" formControlName="name" [invalid]="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" />
        <label for="on_label">Nome *</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="description" [invalid]="formGroup.get('description')?.invalid && formGroup.get('description')?.touched" />
        <label for="on_label">Descrição *</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-input-number
          formControlName="price"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          class="w-100"
          [invalid]="formGroup.get('price')?.invalid && formGroup.get('price')?.touched"
        ></p-input-number>
        <label for="on_label">Preço *</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-select
          formControlName="categoryId"
          [options]="categoriesList"
          optionLabel="name"
          optionValue="id"
          class="w-100"
          [invalid]="formGroup.get('categoryId')?.invalid && formGroup.get('categoryId')?.touched"
        />
        <label for="on_label">Categoria *</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <input pInputText type="text" formControlName="imageUrl" />
        <label for="on_label">Imagem Url</label>
      </p-floatlabel>

      <div class="d-flex flex-row gap-2 align-items-center">
        <label>Status</label>
        <p-toggleswitch formControlName="isActive"></p-toggleswitch>
      </div>
    </div>
  </form>

  <div class="d-flex flex-row justify-content-center gap-3 mt-5">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
  </div>
</p-dialog>
